<!-- <div class="body">
  <div class="left">
    <div class="img">
      <img src="assets/Images/bg-login.jpg" alt="">
    </div>
  </div>
  <div class="right">
    <div class="box">
      <div class="bank-name">
        <img src="assets/Images/bank-name-black.png" alt="">
      </div>
      <div class="title">
        <h3>Login Page</h3>
      </div>
      <div class="form">
        <form (ngSubmit)="login()">
          <div class="inputs">
            <div class="">
          <label for="role">Im a  : </label>
          <select name="role" id="role" [(ngModel)]="loginData.role" style="margin-left: 10px;">
            <option value="user" selected>User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
            <div class="mail form_ele">
              <input
                type="email"
                class="form-control"
                [(ngModel)]="loginData.email"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="password form_ele">
              <input
                [type]="pass"
                class="form-control"
                [(ngModel)]="loginData.password"
                name="password"
                placeholder="Enter password"
              />
              <i (click)="show()" [class]="eye"></i>
            </div>
          </div>
          <div class="form_btns">
            <div class="button form_ele">
              <button>Continue</button>
            </div>
          </div>
        </form>
        <div class="signin">
          <p>Don’t have an account? <a routerLink="/signup">Sign up</a></p><br>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="body">
  <div class="left">
    <div class="img">
      <img src="assets/Images/bg-login.jpg" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="box">
      <div class="bank-name">
        <img src="assets/Images/bank-name-black.png" alt="" />
      </div>
      <div class="title">
        <h3>Signup Page</h3>
      </div>
      <div class="form">
        <div class="register-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="role">
              <label for="role">Im a  : </label>
              <select name="role" id="role" formControlName="role" style="margin-left: 10px;">
                <option value="user" selected>User</option>
                <option value="admin">Admin</option>
                <option value="employee">Employee</option>
              </select>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
              </div>
            </div>
        
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="f.password.errors.maxlength">
                  Password must not exceed 40 characters
                </div>
              </div>
            </div>
        
            <div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
              <button type="submit" class="btn btn-primary">Login</button>
              <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
              </button>
            </div>
          </form>
          <div class="signin" style="display: flex; justify-content: center; font-family: Raleway, sans-serif;">
            <p>If you'r a User <br>Don’t have an account? <a style="text-decoration: none;" routerLink="/signup">Sign up</a></p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
