<div class="body">
  <div class="contant">
    <app-header></app-header>
    <div class="box">
      <div class="marquee">
        <div>
          <span
            >Latest News: Enjoy High FD Rates 7.15% for 2 yrs 11 months (35
            months) & 7.20% for 4 yrs 7 months (55 months). For Sr. Citizens get
            0.50% extra! Hurry! Limited Period Rates for FD Amt. < 2Cr.</span
          >
          <span
            >Pay in Parts up to 48 months on Shopping with EASYEMI on Consumer
            Durable Loans</span
          >
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
